* 
    margin: 0
    padding: 0
    box-sizing: border-box

html
    font-size: 62.5% // Это 10px полученное 10/16*100
body
    font-family: "Poiret One"
    font-weight: bold
    color: #2c1b1b
    font-size: 1rem
    letter-spacing: 0.2rem
    padding: 5rem
    color: #fff

.container
    backround-color: #F7F7F7

.header
    position: relative
    height: 95vh
    background: linear-gradient(90.05deg, rgba(186, 133, 84, 0.7)0.03%, rgba(1, 1, 1, 0.7)99.94%), url(../img/header-background.jpg) center / cover no-repeat
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%)
    &__logo
        position: absolute
        top: 5rem
        left: 5rem
        height: 7rem
        width: 5.6rem
    &__box
        position: absolute
        top: 40%
        left: 50%
        transform: translate(-50%, -50%)
        width: 100%
        text-align: center
.title-first
    &__1
        text-transform: uppercase
        display: block
        font-size: 5rem
        line-height: 6rem 
        letter-spacing: 1rem
        margin-bottom: 1rem
        animation-name: title-first__1
        animation-duration: 2s
        animation-delay: 1s
        animation-timing-function: ease-in
        backface-visibility: hidden
    &__2
        display: block
        font-weight: 400
        font-size: 40px
        line-height: 4.8rem
        letter-spacing: 0.5rem
        animation-name: title-first__2
        animation-duration: 2s
        animation-delay: 1s
        animation-timing-function: ease-in
        backface-visibility: hidden
        margin-bottom: 5rem

.btn 
    &:link, &:visited
        text-transform: uppercase
        text-decoration: none
        color: #777777
        font-weight: bold
        padding: 2rem 4.5rem
        opacity: 1
        font-size: 2rem
        background: #fff
        border-radius: 2rem
        display: inline-block
        transition: .3s
        position: relative
        &:hover
            padding: 2rem 4.5rem
            opacity: 0.9
            box-shadow: (0.5rem 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.5))
            &::after
                opacity: 0
                transform: scaleX(1.3) scaleY(1.3)
        &:active

        &::after
            content: ""
            background: #fff
            width: 100%
            height: 100%
            border-radius: 2rem
            display: inline-block
            position: absolute
            top: 0
            left: 0
            z-index: -1
            transition: 1s    
    &_animation
        animation: btnToUp 1.5s ease-out 1.7s
        animation-fill-mode: backwards
        

@keyframes title-first__1
    0%
        opacity: 0
        transform: translateX(-100px)
    100%
        opacity: 1
        transform: translateX(0px)

@keyframes title-first__2
    0%
        opacity: 0
        transform: translateX(100px)
    100%
        opacity: 1
        transform: translateX(0px)

@keyframes btnToUp
    0%
        opacity: 0
        transform: translateY(100px)
    100%
        opacity: 1
        transform: translateY(0px)