

.row
    max-width: $grid-width
    background-color: #8dd47b
    margin: 0 auto
    &:not(:last-child)
        margin-bottom: $grid-margin-bottom

.col-1-of-2
    &:not(:last-child)
        margin-right: $grid-margin-horizontal
        