

@keyframes title-first__1
    0%
        opacity: 0
        transform: translateX(-100px)
    100%
        opacity: 1
        transform: translateX(0px)

@keyframes title-first__2
    0%
        opacity: 0
        transform: translateX(100px)
    100%
        opacity: 1
        transform: translateX(0px)

@keyframes btnToUp
    0%
        opacity: 0
        transform: translateY(100px)
    100%
        opacity: 1
        transform: translateY(0px)