
    
body
    font-family: "Poiret One"
    font-weight: bold
    color: $color-gray
    font-size: 1rem
    letter-spacing: 0.2rem    
    
.title-first
    &__1
        text-transform: uppercase
        display: block
        font-size: 5rem
        line-height: 6rem 
        letter-spacing: 1rem
        margin-bottom: 1rem
        animation-name: title-first__1
        animation-duration: 2s
        animation-delay: 1s
        animation-timing-function: ease-in
        backface-visibility: hidden
    &__2
        display: block
        font-weight: 400
        font-size: 4rem
        line-height: 4.8rem
        letter-spacing: 0.5rem
        animation-name: title-first__2
        animation-duration: 2s
        animation-delay: 1s
        animation-timing-function: ease-in
        backface-visibility: hidden
        margin-bottom: 5rem
